<a href="https://colab.research.google.com/github/smitapatil1/Hypothesis/blob/main/cutlets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import scipy.stats as stats
import pandas as pd

In [ ]:
cutlets= pd.read_csv("/content/Cutlets 1.csv")

In [ ]:
cutlets.describe()

          Unit A     Unit B
count  35.000000  35.000000
mean    7.019091   6.964297
std     0.288408   0.343401
min     6.437600   6.038000
25%     6.831500   6.753600
50%     6.943800   6.939900
75%     7.280550   7.195000
max     7.516900   7.545900

In [ ]:
# Null Hypothesis: p= 0

#Alternative Hypthosis: p â‰  0
# sample size=35 we are using two sided-ind-sample t-test

In [ ]:
stats.ttest_ind(cutlets['Unit A'], cutlets['Unit B'])

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

In [ ]:
# Conclusion of the hypothesis test

Since the  p-value is greater than or equal to the significance level,
we fail to reject the null hypothesis and conclude that there is no significant difference
 in the diameter of the cutlets between the two units.